<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        -->

        <!--
        <link href="./upload/company/logo_favicon-_demo.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta name="robots" content="index,follow" />
        -->

        <!-- tagchung -->
        <title>Iot Smart Home</title>
        <!--
        <meta name="keywords" content="MY HOME INTERIOR DESIGN" />
        <meta name="description" content="MY HOME INTERIOR DESIGN là lựa chọn hàng đầu về công ty Thiết kế và Thi công Kiến Trúc & Nội Thất phong cách Tân Cổ Điển" />
        -->

        <link rel="stylesheet" href="/templates/smart_home.css">
        <!--
        <link rel="stylesheet" href="https://codepen.io/co0kie/pen/BEMVjd.css">
        <link rel="icon" href="images/logo.svg" type="image/icon type">
        -->
        <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet"> 
    </head>


    <body>
        <div class="dashboard">
            <header>
                <div class="f fe">
                <div class="icon icon-w"></div>
                <div class="heading">
                    <h5 class="date">1 Feb 2019</h5>
                    <h2 class="title">Cloudy</h2>
                </div>
                </div>
                
                <div class="weather f">
                <div>
                    <strong>26°<sup>C</sup></strong>
                    <p>Indoor Temp.</p>
                </div>
                <div>
                    <strong>48.2%</strong>
                    <p>Outdoor Humidity</p>
                </div>
                <div>
                    <strong>52.99</strong>
                    <p>Indoor Temp.</p>
                </div>
                </div>
            </header>
            <section>
            <!-- Category -->
                <div class="category">
                <ul>
                    <li><a href="#!" class="active">Living Room</a></li>
                    <li><a href="#!">Kitchen</a></li>
                    <li><a href="#!">Dinning</a></li>
                    <li><a href="#!">Weather</a></li>
                </ul>
                </div>
            <!-- Appliances -->
                <div class="appliances">
                
                <div class="appliance">
                    <input type="checkbox" name="a" id="a">
                    <label for="a">
                    <i class="l"></i>
                    <strong>Lamp</strong>
                    <span data-o="opened" data-c="closed"></span>
                    <small></small>
                    </label>
                </div>
                
                <div class="appliance">
                    <input type="checkbox" name="a" id="b">
                    <label for="b">
                    <i class="r"></i>
                    <strong>Router</strong>
                    <span data-o="opened" data-c="closed"></span>
                    <small></small>
                    </label>
                </div>
                
                <div class="appliance">
                    <input type="checkbox" name="a" id="c">
                    <label for="c">
                    <i class="a"></i>
                    <strong>Air</strong>
                    <span data-o="opened" data-c="closed"></span>
                    <small></small>
                    </label>
                </div>
                
                <div class="appliance">
                    <input type="checkbox" name="a" id="d">
                    <label for="d">
                    <i class="f"></i>
                    <strong>Fridge</strong>
                    <span data-o="opened" data-c="closed"></span>
                    <small></small>
                    </label>
                </div>
                
                <!-- <div class="m-player">
                    <h2>Shared Devices</h2>
                    <div class="player">
                    <div class="disc"></div>
                    <div class="artist">
                        <p>Rosetta Stoned</p>
                        <small>Tool</small>
                    </div>
                    <div class="controls">
                        <input type="checkbox" name="a" id="p">
                        <label for="p">
                        <div class="control"></div>
                        </label>
                    </div>
                    </div>
                </div> -->
                
                </div>
            </section>
            </div>
            
        <!--<script src="Smart_Home.js"></script>-->
    </body>
</html>